*{
	padding: 0;
	box-sizing: border-box;
}
body{
	margin-top: 25px;
	font-family: 'Montserrat', sans-serif;
	color: #202020;
	font-size: 20px;
	font-weight: 100;
}
html{
	scroll-behavior: smooth;
}
a{
	text-decoration: none;
	color: inherit;
}
h1{
	text-align: center;
	font-size: inherit;
}

.up {
	color: #fff;
	text-transform: uppercase;
	background-color: #ff5252;
	padding: 25px;
	position: fixed;
	right: 45px;
	bottom: 45px;
	transition: .1s linear;
   }

.up:hover{
	transform: scale(1.05);
}

.cont{
	margin: 0 auto;
	max-width: 1500px;
	width: 100%;
}
header .cont{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.logo{
	display: flex;
	flex-direction: row;
}
.nav{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.nav ul{
	list-style: none;
	display: flex;
	flex-direction: row;
}
.nav li{
	padding: 20px;
	text-transform: uppercase;
	margin-right: 80px;
	transition:  .15s linear;
}

.nav li:last-child{
	margin-right: 0;
}

.nav li:hover{
	background-color: #ff5252;
	color: #fff;
	cursor: pointer;
}

.intro .cont{
	margin-top: 100px;
	font-size: 30px;
	
	background-image: url("media/img/Ecolines_bus_girls.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.intro .cont p{
	margin-top: 75px;
}

.catalog h1, .intro h1, .news h1, .company h1{
	margin: 100px 0;
	padding: 20px;
	font-size: 30px;
	color: #fff;
	text-transform: uppercase;
	background-color: #ff5252;

}

.catalog .cont, .news .cont{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;

}

.catalog_item, .news_item{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 100px;
	text-align: center;
}

.description{
	width: 50%;
}

.price, .news_btn{
	padding: 10px 150px;
	font-size: 30px;
	color: #fff;
	background-color: #ff5252;
	transition: .1s linear;
}

.price:hover, .news_btn:hover{
	cursor: pointer;
	transform: scale(1.05);
}
